html {
    font-size: 10px;
}
body {
    height : 2000px;
}
.footer {
    background-color: rgb(33, 34, 44);
    color: white;
    overflow: hidden;
}

.left { 
    font-size: 40px;
    font-weight: 500;
}
h3{
    color : grey;
}
h4{
    color : rgb(255, 255, 255);
    cursor: pointer;
}
h4:hover {
    transition: 200ms all ease;
    color : red;
}
.options {
    text-align: right;
}
.footer-row{
    border-bottom: 1px ridge grey;
}
.social-footer:hover{
    color : red;
    transition: 200ms all ease;
    cursor: pointer;
}
.copyright {
    text-align: right;
}
@media screen and (max-width : 600px){
    .footer{
        text-align: center;
    }
    .options {
        text-align: center;
    }
    .copyright{
        text-align: center;
        padding-top: 5px;
    }
}
.end{
    padding-bottom: 3%;
}